@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

/*General page element styling*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

body {
  font-family: redressed sans-serif;
  font-weight: 300;
  font-size: 0.75 rem;
  line-height: 1.4;
  text-decoration: none;



}

section {
  padding: 2rem;
}

h1 {
  line-height: 1;
  padding: 0.625rem;
  
  
}

h2 {
  line-height: 1;
  margin-top: 1.25rem;

}

h3 {
  line-height: 1;
}
  

/*Header and Nav bar*/


.container {
  margin: 0 auto;
  min-width: fit-content;

}

header h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
 
}


ul li a {

  padding: 1.0rem;
  font-weight: bold;
  font-size: 1.25rem;
  padding-top: 10px;
  
}

a:hover, a:active {
  color: black;
}

.fa-brands {
  margin: 	1.25rem;
  color:black ;
}




.nav-bar {
  background-color:#169B62;
  align-items: center;

}

.nav-items {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-content: center;
  padding: 0;
  
  
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 2.5rem;

}

.img-header {
  display: flex;
  padding-top: 40px;
  align-content: center;
  justify-content: center;
}

/*Section 1 styling*/

.Sec1 {
  background-color: #169B62;
  text-align: center;


}

/* Meet times section styling*/

.sec2 {
  background-color: #169B62;
  text-align: center;

}

.meet-container {
  display: grid;
  max-width: 100%;
  max-height: 100%;
  
}

.meet-style {
  text-align: center;
  

}

.times-1 {
  text-align: center;
  background-color: #FF8200;

  

  
}

.times-2 {
  text-align: center;

}

.times-3 {
  background-color: #169B62;
  text-align: center;
}

/* Navigation id's for scroll*/

#meet-times {
  scroll-behavior: smooth;
}

#sign-up {
  scroll-behavior: smooth;
  background-color: #FF8200;
}



/* Section 3 styling*/

.sec3 {
  background-color: #FFFFFF;
  display: flex;
  align-content: center;
  text-align: center;
  
}

/* Section 4 styling*/

.sec4 {
  background-color: #FF8200;
  display: flex;
  justify-content: center;
  text-align: center;
  
}






/* Sign up form styling*/



.sign-title {
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  
}

.signup-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}



.field {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* Sign up button styling*/

#sign-up-btn {
  background-color: #169B62;
  border:none;
  padding: 0.975em 2em;
}

#sign-up-btn:hover {
  background-color: #FFFFFF;
}

/*Footer stylng*/

footer {
  background-color: #169B62;
  padding:4rem,1rem;
  
}

footer h2 {
  padding: 00.625rem;
}

.footer-nav {
  
  font-weight: bold;
  padding: 1.0rem;
  font-size: 0.9375rem;
  list-style: none;
  display: flex;

}

.footer-container {
  max-width: 90% 70.5rem;
  margin: 0, auto;
  
}

.footer-1 {
  display: flex;
  margin-bottom: 2rem;
  align-content: center;
  justify-content: center;
  text-align: center;
  
  
}

.social-footer {
  display: flex;
  justify-content:center ;
  align-items: center;
  margin: 1.25rem;
}

.copyright {
  text-align: center;
  font-weight: bold;
}

















                
          














    





