* {
   margin:0;
   padding:0;
   box-sizing:border-box; 
}

/*white text styling*/

body {
    font-family: "lato" , sans-serif;
    color: white;

}

/*text black with no decoration*/

h1 {
    font-size: 25px;
    margin: 10px, 0;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    margin: 10px, 0;
    line-height: 1.2;
}

a {
    color: black;
    text-decoration: none;

}

p {
    font-size: 30px;

}

/*basic image styling*/
img {
    width: 100%;
}

/* remove styling on list elements*/
li {
    list-style: none;

}

p {
    font-size: 20px;
}

.container {
    margin: auto;
    max-width: 1250px;

}

.navbar {
    background-color: blue;
    height: 70px;
    padding: 0, 30px;
}

.navbar h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 10px,0;
    line-height: 1.2;

}

.navbar .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color:white;
    padding: 9px;
    margin: 0 10px; 
}

.navbar a:hover {
    color:#9867c5;
    border-bottom: 3px solid red
}

.showcase {
    background-color: blue;
    height: 300px;
}

.showcase p {
    margin-bottom: 30px;


}

.showcase img {
    box-shadow: 7px 7px 7px rgba(0,0,0,0.2)

}

.showcase-form {
    padding: 7px;
}

.grid {
    overflow: visible;
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-item-1, .grid-item-2 {
    position: relative;
    top: 50px;
}

.showcase input [type='email'] {
padding: 10px,70px, 10px, 0;
font: size 14px;
  border: none;
  border-radius: 6px;
  padding-left: 6px;


}


.btn {
    border-radius: 6px;
    padding: 12px 20px;
    background: #6d67c5;
    border: none;
    margin-left: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(189, 3, 3, 0.2);

}


.showcase-form {
    margin: auto;


}

/*change font styke ans size*/

.little-info {
    font-size: 15px;
    font-family: "poppins", sans-serif;
}


